# auditd rules

## Remove any existing rules
-D

# Buffer Size
## Feel free to increase this if the machine panic's
-b 8192

# Failure Mode
## Possible values: 0 (silent), 1 (printk, print a failure message), 2 (panic, halt the system)
-f 1

# Ignore errors
## e.g. caused by users or files not found in the local environment  
# log all changes to /etc/passwd

-w /etc/passwd -p wa -k passwd_changes

# log executions of insmod, which allow insertion of modules into kernel
-w /sbin/insmod -p x -k module_insertion

# log any file deletion/rename by user with uid > 500
-a always,exit -F arch=b32 -S unlink -S unlinkat -S rename -S renameat -F auid>=500 -F auid!=4294967295 -k delete
-a always,exit -F arch=b64 -S unlink -S unlinkat -S rename -S renameat -F auid>=500 -F auid!=4294967295 -k delete


# logs any syscalls attempting to change user id to 0
-a always,exit -S setresuid -F euid=0 -k audit-wazuh-c

# Monitor all commands run by user with admin priveleges
# removed "-F auid=1000" parameter after always, used to specify EUID of user executing program
#-a exit,always  -F egid!=994 -F auid!=-1 -F arch=b32 -S execve -k audit-wazuh-c
#-a exit,always  -F egid!=994 -F auid!=-1 -F arch=b64 -S execve -k audit-wazuh-c

